<settings>
    <setting id="days" value="1" />
    <setting id="desc01" value="10" />
    <setting id="desc02" value="18" />
    <setting id="desc03" value="6" />
    <setting id="desc04" value="13" />
    <setting id="desc05" value="6" />
    <setting id="desc06" value="15" />
    <setting id="desc07" value="2" />
    <setting id="desc08" value="9" />
    <setting id="desc09" value="2" />
    <setting id="desc10" value="14" />
    <setting id="desc11" value="6" />
    <setting id="desc12" value="11" />
    <setting id="desc13" value="6" />
    <setting id="desc14" value="12" />
    <setting id="desc15" value="6" />
    <setting id="desc16" value="20" />
    <setting id="desc17" value="6" />
    <setting id="desc18" value="19" />
    <setting id="desc19" value="0" />
    <setting id="desc20" value="0" />
    <setting id="epicon" value="1" />
    <setting id="lineup" value="Local Over the Air Broadcast" />
    <setting id="lineupcode" value="lineupId" />
    <setting id="slist" value="101904,49377,30697,29024,68062,88217,68084,24028,50770,69874" />
    <setting id="xdesc" value="true" />
    <setting id="xdetails" value="true" />
    <setting id="zipcode" value="92101" />
</settings>
